* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

#header-logo {
    margin: 3vw;
    width: 4vw;
    height: 4vw;

    background-color: darkolivegreen;
}

#header-title {
    margin: 3vw;
}

.header-button {
    padding: 1.5vw;
    margin: 1.5vw;

    background-color: transparent;
    border: 2px solid green;

    transition: all 1s;
}

.header-button:hover {
    background-color: chartreuse;
    border-radius: 10px;
}