* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-image: url(https://static.wikia.nocookie.net/disneytsumtsum/images/4/43/BeePooh.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: auto; */
    background-color: coral;
}

#header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

#header-logo {
    margin: 3vw;
    width: 6vw;
    height: 6vw;

    background-color: darkolivegreen;
}

#header-title {
    margin: 3vw;
    /* font-size: 4vw; */
}

.header-button {
    padding: 1.5vw;
    margin: 1.5vw;

    background-color: transparent;
    border: 2px solid green;

    /* transition: background-color 1s;
    transition: border-radius 1s; */

    /* font-size: 2vw; */
}

.header-button:hover {
    background-color: chartreuse;
    border-radius: 10px;
    cursor:pointer;
}

.title-container {
    margin-top: 15vw;

    width: 100%;
    height: 16vw;

    backdrop-filter: blur(3px) sepia(60%) brightness(75%);

        
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkorchid;
    font-size: 8vw;
    text-align: center;
}