:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --aqua: #028090;
    --blue: #05668d;
    --blue-green: #00a896;
    --light-green: #02c39a;
    --yellow: #f0f3bd;
}

#blog-table {
    display: flex;
    flex-direction: column;
}

.table-item {
    background-color: var(--light-green);
    border: 3px solid var(--blue-green);
    border-bottom: none;

    padding: 5px;
}

.table-item:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
}

.table-item:nth-last-child(1) {
    background-color: red;
    border-bottom: 3px solid var(--blue-green);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-item h2 {
    color: white;
    margin: 10px 0 10px 0;
}

.table-item p {
    color: rgb(207, 207, 207);
    margin: 5px 0 10px 0;
}