:root {
    --default-font: Verdana, Geneva, Tahoma, sans-serif;
    --primary-color: #FFE05D;
    --secondary-color: #FF9642;
    background-color: var(--secondary-color);
}

body {
    margin: 0;
    background-color: var(--primary-color);
    
    width: 100%;
    height: auto;
}

#header {
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 4vw;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: var(--default-font);

    position: sticky;
    top: 0;
}

.divider {
    width: 100%;
    height: auto;
}

.divider img {
    width: 100%;
    height: 25vw;
}

.header-2 {
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0;
    
    text-align: center;
    font-size: 3vw;
    font-family: var(--default-font);
}

.images {
    padding: 3vw;

    display: flex;
    justify-content: center;

    background-position-y: -10vw;
    background-image: url(https://i.pinimg.com/originals/4e/1a/58/4e1a583e27ff292e57535f4f7c24f4cb.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-image {
    display: table-cell;
    border-radius: 15%;
    border: 2px solid black;

    width: 10vw;
    height: auto;

    background-color: white;
    padding: 5vw;
    margin: auto;
}

.caption {
    text-align: center;
    color: white;
    font-family: var(--default-font);
    font-size: 4vw;

    margin: 10%;
}

.image-container {
    padding-left: 1.6vw;
    padding-right: 1.6vw;

    width: 25%;
    height: auto;
}

.desc-container {
    justify-content: center;

    box-shadow: 0.25vw 0.3vw 1vw var(--secondary-color);
    
    border: 2px solid var(--secondary-color);
    border-radius: 15%;

    width: 75%;

    margin: 2vw;
    margin-top: -2vw;
    
}


.descs {
    padding: 3vw;

    display: flex;  
    justify-content: center;
}

.description {
    text-align: center;
    color: black;
    font-family: var(--default-font);
    font-size: 1.75vw;

    margin: 0;
    padding: 1vw;
}